<div class= "container x=5 px-sm-0">
  <div class = "row">
   <div class="col-10">
    <h3>ショッピングカート</h3>
   </div>
   <div class="col-2">
    <%= link_to "カートを空にする", cart_items_destroy_all_path, class: "btn btn-sm btn-danger",
            method: :delete, data: { confirm: "本当に削除しますか?" } %>
   </div>
  </div>

  <div class= "row">
   <table class ="table table table-bordered">
       <thead class="table-light">
        <tr>
         <th>商品名</th>
         <th colpan="3"></th>
         <th>単価(税込み)</th>
         <th>数量</th>
         <th>小計</th>
         <th></th>
        </tr>
       </thead>
       <tbody>
        <% @cart_items.each do |cart_item| %>
         <tr>
          <td><%= cart_item.item.name %></td>
          <td colpan="3"></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td>
           <!--url: {controller: 'cart_items', action: 'update'}-->
           <%= form_with model: cart_item ,url: cart_item_path(cart_item.id) do |f| %>
            <%= f.select :amount, *[1..10], include_blank: "--個数選択--" %>
            <%= f.submit "編集する", class: "btn btn-sm btn-success" %>
            <% end %>
          </td>
          <td><%= cart_item.subtotal %></td>
          <td>
            <%= link_to "削除する", cart_item_path(cart_item.id), class: "btn btn-sm btn-danger",
            method: :delete, data: { confirm: "本当に削除しますか?" } %>
          </td>
          <% @total += cart_item.subtotal %>
         </tr>
        <% end %>
       </tbody>
      </table>
     <div class="col-8">
       <%= link_to "買い物を続ける",root_path, class: "btn btn-sm btn-primary" %>
     </div>
     <div class="col-4">
      <table class ="table table table-bordered">
         <td>合計金額</td>
         <td>¥<%= @total %></td>
        </table>
     </div>
  </div>
  <div class="row justify-content-md-center">
   <%= link_to "情報入力に進む", new_order_path, class: "btn btn-sm btn-success" %>
  </div>
        <%#= paginate @cart_items %>
</div>