<div class= "container">
  <div class = "row">
    <h2 class="title">ショッピングカート</h2>
    <%= link_to "カートを空にする", cart_items_destroy_all_path, class: "btn btn-sm btn-danger",
            method: :delete, data: { confirm: "本当に削除しますか?" } %>
  </div>

  <div class= "row">
   <div class= "col-sm-16 col-md-12 col-lg-10 px10 px-sm-0 mx-auto">
   <table class ="table table table-bordered">
       <thead class="table-light">
        <tr>
         <th>商品名</th>
         <th colpan="3"></th>
         <th>単価(税込み)</th>
         <th>数量</th>
         <th>小計</th>
         <th></th>
        </tr>
       </thead>
       <tbody>
        <% @cart_items.each do |cart_item| %>
         <tr>
          <td><%= cart_item.item.name %></td>
          <td colpan="3"></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td>
           <!--url: {controller: 'cart_items', action: 'update'}-->
           <%= form_with model: cart_item ,url: cart_item_path(cart_item.id) do |f| %>
            <%= f.select :amount, *[1..10], include_blank: "--個数選択--" %>
            <%= f.submit "編集する", class: "btn btn-sm btn-success" %>
            <% end %>
          </td>
          <td><%=  cart_item.subtotal %></td>
          <td>
            <%= link_to "削除する", cart_item_path(cart_item.id), class: "btn btn-sm btn-danger",
            method: :delete, data: { confirm: "本当に削除しますか?" } %>
          </td>
          <% @total += cart_item.subtotal %>
         </tr>
        <% end %>
       </tbody>
      </table>


        <table class ="table table table-bordered">
         <td>合計金額</td>
         <td>¥<%= @total %></td>
        </table>
        <%= link_to "買い物を続ける", "/", class: "btn btn-sm btn-primary" %>
        <%#= paginate @cart_items %>
        <%= link_to "情報入力に進む", new_order_path, class: "btn btn-sm btn-success" %>

    </div>
  </div>
</div>