<h3>注文情報入力</h3>

<h4>支払い方法</h4>
  <%= form_with model: @order, local: true, do |f| %>
    <div class="form-group">
      <%= f.radio_button :peyment_method, [0] %>
      <%= f.label :is_active, "クレジットカード" %>
      <%= f.radio_button :peyment_method, [1] %>
      <%= f.label :is_active, "銀行振込" %>
    </div>
  <% end %>
  
<h4>お届け先</h4>
  <%= form_with model: @, local: true do |f| %>
    <div class="form-group">
      <%= f.radio_button :, [0] %>
      <%= f.label :, "ご自身の住所" %>
      
      <%= f.radio_button :peyment_method, [0] %>
      <%= f.label :, "登録済み住所から選択" %>
      
      <%= f.radio_button :peyment_method, [0] %>
      <%= f.label :, "新しいお届け先" %>
    </div>
   


  <% end %>
  
登録済み住所から検索
新しいお届け先

  <%#= form_with model: @address do |f| %>

        <!--<div class="field">-->
          <%#= f.label :"郵便番号" %>
          <%#= f.text_field :postal_code %>
        <!--</div>-->

        <!--<div class="field">-->
          <%#= f.label :"住所" %>
          <%#= f.text_field :address %>
        <!--</div>-->

        <!--<div class="field">-->
          <%#= f.label :"宛名" %>
          <%#= f.text_field :name %>
        <!--</div>-->


<%= link_to "確認画面へ進む", orders_confirm_path, class: "btn btn-sm btn-primary" %>

