<div class= "container">

  <div class= "row justify-content-center">
    <div class= "col-4 my-2">
        <tr>
          <p>
            <% if @item.image.attached? %>
              <%= image_tag @item.image, size: "200x200"%>
            <% else %>
              <%= image_tag 'no_image', size: "200x200"%>
            <% end %>
          </p>
        </tr>
    </div>
    <div class= "col-4 my-2">
      <table class="table table-borderless">
        <tr>
          <th><h3><%= @item.name %></h3></th>
        </tr>
        <tr>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th>¥<%= @item.with_tax_price %>(税込)</th>
        </tr>
        <tr>
          <td>
          <%= form_with model: @cart_item ,url: {controller: 'cart_items', action: 'create'} do |f| %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.select :amount, *[1..10], include_blank: "--個数選択--"%>
            <%= f.submit "カートに入れる",class: "btn btn-sm btn-success" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>